

.contact-details{
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    color: white;
    font-family: ZCOOL XiaoWei;

    }

.contact-details img{
    width: 200px;
    height: 200px;
    margin: -50px auto 0 auto;
    border-radius: 125px;
}

.contact-name{
    font-size: 30px;
    font-weight: 900;
    margin: 8px;
    text-align: center;
}

.contact-email span,.contact-phone span {
    font-weight: 700;
    padding: 0 10px;
    font-size:20px;
}

.contact-email, .contact-phone{
    margin: 5px;

}

.buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;    
}

.contact-details a{
     text-decoration: none;
     font-family: ZCOOL XiaoWei;
     color: white;
     cursor: pointer;
}


.transfer-container{
    padding: 15px;
}
.transfer-input{
    margin:  10px auto;
}
.transfer-btn{
    width: 100px;
margin:  2px auto;
background: lightgreen;
padding:5px;
border-radius: 25px;
cursor: pointer;
}

@media (min-width: 420px) {
    .contact-details{
     text-align: center;
    }
}