
nav{
    width: 100%;
}
.nav-container ul{
    display: flex;
    list-style: none;
    justify-content:space-evenly;
    background-color: #3a2b2b;
    margin-top: 0.5px;
    padding:  10px ;
}
.nav-container img{
    height: 50px;
    margin: 0  20px 10px 20px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h4{
    font-size: 40px;
    text-transform: capitalize;
    margin: 10px;
    color:white;
    font-family: ZCOOL XiaoWei;

}
.container  .home-coins-container , .home-rate-container{
    color: white;
    padding: 5px;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    width: 200px;
    font-size: 20px;

}
.container img{
    display: inline-block;
    height: 50px;
    margin-right: 10px;
}