
.contact-page h1{
    font-family: ZCOOL XiaoWei;
    color: white;
    letter-spacing: 2px;
    font-size: 40px;
    text-align: center;
}
.contacts-list{
    list-style: none;
    padding: 0;
    margin: 0;
    }
.contact-preview{
    display: flex;
    align-items: center;
    background-image: lightblue;
    max-width: 400px;
    padding: 0 20px;
    border-top: 1px solid lightgrey;
    border-bottom:  1px solid lightgrey;;
    cursor: pointer;
    height: 40px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: ZCOOL XiaoWei;
}


.contact-preview img{
    border-radius: 125px;
    height: 35px;
}

.new-contact{
    display: flex;
    justify-content: flex-end;
    margin: 48vh 0 0 50vh;
    cursor: pointer;
    padding: 2px;
    z-index: 1000;
    position: fixed;

}

.filter{
    margin: 0;
    
}

.filter input{
    max-width: 500px;
    height: 30px;
    background-color:lightgray;
    border-bottom: 1px solid lightgray;
    min-width: 100%;

}

.filter input ::placeholder{
    color: black;
}

@media (min-width: 420px) {
  
  .contact-page{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .contacts-list{
    width: 400px
}
    .contact-preview{
      border: 2px solid white;
      padding: 5px ;
  }

  .filter input{
      min-width: 400px;
  }

  .new-contact{
    margin: -12vh 0 0 20vh; 
  }   

}